:root {
  --mobile-width: 460px;
}

@media screen and (min-width: 460px) {

  html {
    background: #fefefe;
    overflow: auto;
  }

  body {
    width: var(--mobile-width);
    height: 800px;
    position: relative;
    margin: 20px auto;
    border: 25px solid #222;
    border-radius: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }

  body::after {
    background-color: red;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  body.bezels {
    border-top: 80px solid #222;
    border-bottom: 80px solid #222;
  }

  body.bezels::before{
    content: '';
    width: 100px;
    height: 10px;
    position: fixed;
    background-color: #444;
    left: calc(50% - 50px);
    top: 35px;
    border-radius: 20px;
    margin-top: inherit;
  }

  body.bezels::after{
    content: '';
    width: 20px;
    height: 20px;
    position: fixed;
    background-color: #444;
    left: calc(50% - 90px);
    top: 30px;
    border-radius: 20px;
    margin-top: inherit;
  }

  body.notch::before{
    content: '';
    width: 250px;
    height: 50px;
    position: fixed;
    background-color: #222;
    left: calc(50% - 125px);
    top: 0px;
    margin-top: inherit;
    border-radius: 20px;
  }

  body.notch::after{
    content: '';
    width: 80px;
    height: 10px;
    position: fixed;
    background-color: #444;
    left: calc(50% - 40px);
    top: 20px;
    margin-top: inherit;
    border-radius: 20px;
  }

}
