@media screen and (min-width: 460px) {
  html {
    background: #f6f6f6;
    overflow: auto;
  }

  body {
    width: 460px;
    height: 820px;
    margin: 20px auto;
    border: 20px solid #222;
    border-radius: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.28);
    position: relative;
  }

  html::before, html::after {
    content: '';
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM3IiBoZWlnaHQ9Ijg1NyIgdmlld0JveD0iMCAwIDczNyA4NTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xNDQuNSA1NzEuNUg0ODIuNUw1MTQuNSA1MzhMNDk1IDQxNUw1MDMgMzAxTDQ3NiAxNjAuNUw0OTIgNjEuNUw1MzEuNSA0LjVINTU3LjVMNTY2IDIyTDU2MyA2N1YxNTEuNUw2MDguNSAzMjRMNjY4LjUgNDQ3TDY3OCA2MjMuNUw3MzAuNSA3MDJMNDc2LjUgODUxLjVMMzk4LjUgNzYzTDI1OCA3MDJMMTY0IDYwOUwxNDQuNSA1NzEuNVpNMTQ0LjUgNTcxLjVMMjYgNTMxTDExIDUwNC41TDE2LjUgNDc1LjVMNDIuNSA0NDdMNzMuNSA0NjAuOTI2TTE0NC41IDU3MS41TDE3MC41IDU1NkwxODEuNSA1MzFMMTcwLjUgNTA0LjVMNzMuNSA0NjAuOTI2TTczLjUgNDYwLjkyNlY0MjQuNU03My41IDQyNC41TDExIDM2M0w0LjUgMzI0TDE2LjUgMjgzLjVMNzMuNSAyNTQuNU03My41IDQyNC41TDEwMS41IDQ1My41TDEzNCA0NDdMMTUwIDQyNC41VjM4My41TDczLjUgMzAxVjI1NC41TTczLjUgMjU0LjVWMTgxTTczLjUgMTgxTDQuNSAxMTJMMTYuNSA0NUw3My41IDIyVjU1TDExNC41IDEwMi41TDEyMyAxMzlMMTE0LjUgMTcxLjVMOTUgMTgxSDczLjVaIiBzdHJva2U9IiMyMjIyMjIiIHN0cm9rZS13aWR0aD0iOCIvPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    width: 740px;
    height: 100%;
    max-height: calc(100vh - 258px);
    min-height: calc(900px - 258px);
    position: absolute;
    top: 258px;
    left: calc(50% + 78px);
    transform: translateX(-50%);
    pointer-events: none;
  }

  html::after {
    opacity: .1;
  }

  html.no-hand::before, html.no-hand::after {
    display:none;
  }

}
